body{
	background-color: antiquewhite;
    text-align: center;
    font-family: Arial;
    margin: 0% auto;
}
.cajapadre {
  width: 80%;
  height: 80%;
  display: grid;
  background-color: lightgreen;
  padding: 10px;
  margin: 0% auto;
  line-height: 150px;
  border: 1px solid black;
}
.cajas {
  background-color: lightgray;
  text-align: center;
  padding: 20px;
  border: 4px solid black;
  width: auto;
  height: auto;
}
.caja1 {
background-color: lightblue;
  grid-column: 1 / span 3;
  grid-row: 1;
}
.caja2 {
background-color: lightyellow;
  grid-column: 1 / span 2;
  grid-row: 2;
}
.caja3 {
background-color: orange;
}
.caja11 {
	grid-column: 2 / span 2;
    grid-row: 5;
} 
.caja12 {
  grid-column: 1 / span 3;
  grid-row: 6;
  background-color: #35B2AB;
}
