@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500&display=swap');
body{
    font-family: 'Open Sans', sans-serif;
    background-color: #970043;
    box-sizing: border-box;
    justify-content: space-between;
}
p::first-letter {
    font-size: 200%;
    color: black;
    font-weight:bold;
  }
header{
    background-color: #ffd100;
    text-align: center;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    order: 1;
    padding: 5px;
}
#aside1{
    display: flex;
    justify-content: space-between;
}
main{
    background-color: #f2f2f2;
    justify-content: space-between;   
}
#aside2{
    display: flex;
    justify-content: space-between;
}
footer{
    background-color: #ffd100;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    text-align: center;
}