p{
    color: blue;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    color: red;
    font-size: 300%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}