*{
    box-sizing: border-box;
}
body{
    margin: 0;/* sin margen */
    background-size: cover;
    min-height: 100vh;
    background-color: white;
    font-family: "Century Gothic", helvetica, arial, sans-serif;
    font-size: 1.1em;
}
header{
    background-color: darkgray;/* color de fondo */
    color: white;
    text-align: center;/* alineación al centro */
    order: 1;
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin: 20;
    border: 2px solid whitesmoke;
    border-radius: 10px;
    font: white;
}
nav{
    display: flex;/* documento flexible */
    flex-direction: column;
    background-color: darkcyan;
    cursor: progress;
    width: 15em;
    display: flex;
    padding: 20px;
    margin: 20;
    border: 2px solid whitesmoke;
    border-radius: 10px;
    font: white;
}
.elementos{
    color: white;
    text-decoration: none;
    border-bottom: solid rgba(255,255,255,0.3);
}
section{
    background-color: darkolivegreen;/* color de fondo */
    color: white;/* color de letra */
    font-family: "Century Gothic", helvetica, arial, sans-serif;/* tipo de letra */
    font-size: 1.1rem;/* tamaño de tipografia */
    float: right;
    padding: 20px;
    margin: 20;
    border: 2px solid whitesmoke;
    border-radius: 10px;
    font: white;
}
#imagen{
    float: left;
    border: 5px solid goldenrod ;
    border-radius: 2vh;
    max-width: 100%;
    margin-top: 1.1vw;
    margin-right: 2vw;

}
p::first-letter{
    color: darkgray;
    display: flex;
    font-size: 200%;
}
footer{
    background-color: darkgoldenrod;/* color de fondo */
    text-align: center;/* alineación al centro */
    display: flex;
    padding: 20px;
    margin: 20;
    border: 2px solid whitesmoke;
    border-radius: 10px;
    font: white;
}
@media (max-width: 640px) {
    header{
        order: 1;
    }
    nav{
        order: 2;
        width: auto;
    }
    main{
        order: 3;
    }
    footer{
        order: 4;
    }
  }