/* Esta es la hoja de estiño del ejrcicio 1 CSS Felxbox del modelo de examen */
body{
    font-family: 'Trebuchet MS', 'Geneva', 'sans-serif'; /* Fuente de las letras */
    background: url(../../images/bg.jpg) no-repeat, center center fixed;
    background-size: cover; /* Para que cubra toda la pantalla */
}
p::first-letter /* Agrandar primera letra de párrafo */{
    font-size: 200%;
    font-weight: bold; /*  */
    color: #4c3803;
}
header/* Estilo del encabezado */{
    background-color: #b28306;
    color: #4c3803;
    text-align: center;
    border-radius: 20px;
    border-bottom: 1px solid;
    padding: 1rem;
}
aside/* Estilo del lateral */{
    background-color: #b28306;
    color: #4c3803;
    border-radius: 20px;
}
nav /* Estilo de la barra de navegación (Menú) */{
    display: flex;
    background-color: #ebcd7c;
    border-radius: 20px;
    padding: 5px 0px;
}
nav a /* Estilo para enlaces dentro de la barra de navegación */{
    flex: auto;
    text-align: center;
    background-color: #4c3803;
    color: #b28306;
    margin: 0 5px;
    border-radius: 20px;
    text-decoration: none;
}
nav a:hover{
    outline: 1px solid white;
    color: white;
    text-decoration: none;
}
a{
    color: gray;
    font-weight: bold;
    text-decoration: none;
}
@media screen and (min-width: 480px){/* Cambiar disposición de los elementos cuando el tamaño de la pantalla sea superior a 480px */
    body{
        display: flex;
        flex-direction: column;
        max-width: 75rem;
        margin: auto;
    }
    main{
        display: flex;
        flex-wrap: wrap;
        border-bottom: 0.5rem solid;
    }
    nav, header{
        order: -1;
   }
   article{
        flex: 75%;
   }
   aside{
        flex: 25%;
   }
}




